<mat-toolbar class="component--dialog-box__custom-toolbar">
  <span class="font-small-in-size ml-[-5px]">Add New Institutional Videos / Photos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="flex items-center justify-center">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </button>
</mat-toolbar>


<div class="dialog-container">
  <div class="dialog-content">
    <!-- Dialog content goes here -->
  </div>
  <div class="button-container">
    <button class="floating-button">Floating Button</button>
  </div>
</div>


