<mat-toolbar class="component--dialog-box__custom-toolbar">
  <span class="font-small-in-size ml-[-5px]"
    >Add New WOW Industrial Tour Images / Videos</span
  >
  <span class="example-spacer"></span>
  <button mat-icon-button class="flex items-center justify-center">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </button>
</mat-toolbar>


<div class="dialog-container">
  <div class="dialog-content">
    <!-- Dialog content goes here -->
    <div class="p-2 overflow-auto">
      <form [formGroup]="firstFormGroup">
        <!--Button-->
        <div class="space-y-2">
          <div class="w-full flex gap-2 items-center">
            <!-- <div>
              <button
                type="submit"
                class="primary-button xs:text-[12px]"
                mat-raised-button
                (click)="onUploadFileCephStorage()"
                [disabled]="
                  firstFormGroup.invalid || disablesavebtn || disablefileuploadimage
                "
              >
                SAVE
              </button>
            </div> -->
            <!--single line-->
            <div>
              <span class="primary-heading">Industrial Tour Images / Videos</span>
            </div>
            <!--upload image-->

            <div class="image-container">
              <img
                src="../../../../../assets/icons/upload image.png"
                alt="Image"
                style="cursor: pointer"
                class="h-[25px] w-[25px] shadow-box"
              />
              <input
                type="file"
                (change)="browseVideo($event)"
                (change)="onFileSelected($event)"
                #videoUpload
                accept="image/*, video/*"
                style="cursor: pointer"
              />
            </div>

            <div>
              <span class="primary-heading">Upload</span>
            </div>
          </div>
          <!--Image view-->

          <div class="w-full">
            <div *ngIf="lastImageUrl" class="ml-[8px] gt-xs:ml-[124px]">
              <img
                [src]="lastImageUrl"
                alt="Uploaded image"
                class="w-[98%] h-[230px] gt-xs:w-[75%] shadow-box"
              />
            </div>

            <div *ngIf="lastVideoUrl">
              <video
                [src]="lastVideoUrl"
                autoplay
                muted
                loop
                class="w-full h-[230px]"
              ></video>
            </div>
          </div>
        </div>

        <!--simple text-->
        <div class="mt-[-1px] mb-[6px]">
          <span class="primary-heading">Description:</span>
        </div>
        <!--Input field-->

        <div class="w-[94%] gt-xs:w-[96%] mb-[10px]">
          <textarea
            class="w-full xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading"
            placeholder="Type Here...."
            (input)="onGetValue($event)"
            formControlName="input"
          ></textarea>
        </div>

        <div class="w-full flex gap-4 xs:flex-col">
          <div>

            <!--list word-->
            <div class="ml-[3px]">
              <span class="primary-heading">List of Tagged Users:</span>
            </div>
            <!--select list-->
            <div>
              <div class="_container ml-[-8px]">
                <div class="content">
                  <div class="">
                    <div class="content-body" fxLayoutGap="5px" fxLayout="column">
                      <div class="contact-area">
                        <div class="search">
                          <div class="pt-2">
                            <mat-form-field
                              appearance="outline"
                              class="w-full component--mat-form-field__custom-input"
                            >
                              <mat-label>Search User </mat-label>
                              <input
                                matInput
                                placeholder=""
                                [autocomplete]="'off'"
                                [(ngModel)]="searchWords"
                                [ngModelOptions]="{ standalone: true }"
                              />
                              <mat-icon matSuffix class="text-primary"
                                >search</mat-icon
                              >
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="contact-list">
                          <!-- use this above -->
                          <ng-container
                            *ngFor="
                              let item of !searchWords ? contact_list : searchWord;
                              let i = index
                            "
                          >
                            <div
                              style="margin: 5px 5px 5px 0px"
                              class="profile cursor-pointer flex gap-[6px]"
                              fxLayout="row wrap"
                              fxLayoutAlign="start center"
                              (click)="
                                checkbox.checked = !checkbox.checked;
                                addUserToGroup(item)
                              "
                            >
                              <!-- <img
                                [src]="
                                  getCustomerProfileUrl(item.reply.customer_image)
                                "
                                class="h-[35px] w-[35px] mt-[5px]"
                                alt=""
                              /> -->
                              <div>
                                <ng-container *ngIf="customer_image">
                                  <img
                                    [src]="
                                      getCustomerProfileUrl(
                                        item?.reply?.customer_image
                                      )
                                    "
                                    alt=""
                                    class="h-[33px] w-[35px] mr-[4px] mt-[3px] ml-[6px]"
                                    style="border-radius: 10px"
                                    (error)="handleImageError()"
                                  />
                                </ng-container>
                                <ng-container *ngIf="!customer_image">
                                  <img
                                    src="../../../../../assets/images/profile pic 9.png"
                                    alt="Fallback Image"
                                    class="h-[33px] w-[35px] mr-[4px] mt-[3px]"
                                    style="border-radius: 10px"
                                  />
                                </ng-container>
                              </div>
                              <div >
                                <div>
                                  <span class="primary-heading"
                                    >{{ item.reply?.first_name }}
                                  </span>
                                  <span class="primary-heading">{{
                                    item.reply?.last_name
                                  }}</span>
                                </div>
                                <div class="secondary-heading mt-[2px]">
                                  {{ item.reply?.category_aut }}
                                </div>
                              </div>

                              <span style="flex: 1 1 auto"></span>
                              <mat-checkbox
                                #checkbox
                                class="mr-[10px] mt-[10px]"
                                (click)="$event.preventDefault()"
                                (click)="isrowselectedfirstreply(item)"
                              ></mat-checkbox>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Another-->
          <div>
            <div>
              <span class="para-bold">Uploaded By:</span>
            </div>
            <!--select user details-->
            <div
              class="w-full flex gap-2 items-center border-solid border-2 border-black"
              style="border-radius: 30px"
            >
              <!-- <div>
                <img
                  [src]="getCustomerProfileUrl(customer_image)"
                  (click)="user_profile_cu(customer_image)"
                  (click)="openUserProfilecus()"
                  class="h-[27px] w-[27px] ml-[10px] mt-[5px]"
                  style="border-radius: 10px"
                />
              </div> -->
              <div>
                <ng-container *ngIf="customer_image">
                  <img
                    [src]="getCustomerProfileUrl(customer_image)"
                    (click)="user_profile_cu(customer_image)"
                    (click)="openUserProfilecus()"
                    class="h-[27px] w-[27px] ml-[10px] mt-[5px]"
                    style="border-radius: 10px;cursor: pointer;"
                    (error)="handleImageError()"
                  />
                </ng-container>
                <ng-container *ngIf="!customer_image">
                  <!-- Add the path or URL for the fallback image below -->
                  <img
                    src="../../../../../assets/images/profile pic 9.png"
                    alt="Fallback Image"
                    (click)="user_profile_cu(customer_image)"
                    (click)="openUserProfilecus()"
                    class="h-[27px] w-[27px] ml-[10px]"
                    style="border-radius: 10px"
                  />
                </ng-container>
              </div>
              <div class="grid">
                <div>
                  <span class="primary-heading"
                    >{{ login_first_name }} {{ login_last_name }}</span
                  >
                </div>
                <div>
                  <span class="normal-heading">{{ login_category }}</span>
                </div>
              </div>
            </div>
            <!--uploaded date time-->
            <div class="w-[250px] xs:w-[95%]">
              <div>
                <span class="para-bold">Upload Date Time:</span>
              </div>
              <div
                class="w-full gt-xs:w-[94%] flex gap-2 items-center border-solid border-2 border-black p-2"
                style="border-radius: 30px"
              >
                <span class="normal-heading">{{
                  uploadtime | convertFrom24To12Format
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>
  <div class="button-container">
    <button
    type="submit"
    class="primary-button xs:text-[12px] floating-button"
    mat-raised-button
    (click)="onUploadFileCephStorage()"
    (click)="disableButton()"
    [disabled]="
      firstFormGroup.invalid || disablesavebtn || disablefileuploadimage || isButtonDisabled
    "
  >
    SAVE
  </button>
  </div>
</div>

